version: '3'
services:
    web:
        restart: always
        build:
            context: .
            dockerfile: Dockerfile-dev
        ports:
            - '3000:3000'
volumes:
    postgres: ~

