<h2 class="title is-4">Statuses</h2>

<p>This page lists the statuses a ticket or an incident can be in.</p>

<br><br>

<div>
  <%= render 'form', status: @status %>
</div>

<br><br>

<% if @statuses.empty? %>
   No statuses
<% else %>
   <table class="table statuses-table">
      <thead>
        <tr>
          <th>Created At</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @statuses.each do |status| %>
          <tr>
            <td><%= status.created_at %></td>
            <td><%= status.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<script>
  $(document).ready(function() {
    $(".statuses-table").DataTable({
      "pagingType": "simple_numbers",
      "language": { search: "" }
    });

        // style datatable search inputs
    $(".dataTables_filter input").addClass("input");
    $(".dataTables_filter input").attr("placeholder", "Search");
  });
</script>