<h2 class="title is-4">Statuses</h2>

<p>This page lists the statuses a ticket or an incident can be in.</p>

<br>

<div style="width: 50%">
  <%= render 'form', status: @status %>
</div>

<br>

<% if @statuses.empty? %>
   No statuses
<% else %>
   <table class="table">
      <thead>
        <tr>
          <th>Created At</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @statuses.each do |status| %>
          <tr>
            <td><%= status.created_at %></td>
            <td><%= status.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>