.feature-extended {
    padding-top: 48px;
}

.feature-extended-image,
.feature-extended-body {
    width: 100%;
}

.feature-extended-image {
    margin-bottom: 24px;

	img,
    svg {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin: 0 auto;
        overflow: visible;
    }
}

.feature-extended-body {
    text-align: center;
}

@include media( '>medium' ) {

    .features-extended {

        .section-paragraph {
            padding-left: 72px;
            padding-right: 72px;
            margin-bottom: 0;
        }
    }

    .feature-extended {
        display: flex;
        align-items: center;
        padding-top: 72px;

        &:nth-child(even) {

            .feature-extended-image {
                order: 1;
            }
        }
    }

    .feature-extended-image,
    .feature-extended-body {
        width: auto;
        padding: 0 24px;
    }

    .feature-extended-image {
        margin-bottom: 0;

        svg {
            max-width: none;
            width: 320px;
        }
    }

    .feature-extended-body {
        text-align: left;
    }
}

@include media( '>large' ) {

	.features-extended {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -200px;
			left: -440px;
			width: 725px;
			height: 651px;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzI1IiBoZWlnaHQ9IjY1MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICA8ZGVmcz4gICAgPHBhdGggZD0iTTY3OC42MDMgNjQzLjg1OGMxMTEuODItNTkuMTE1LTE1Ljc3LTE4NS4zNDQtMTUuNzctMzIxLjQ4MyAwLTEzNi4xMzgtLjI4NC0zNDAuMzcxLTEzNi40MjItMzIxLjEwNS0xMzYuMTM4IDE5LjI2Ni05NC4yODggMTg3LjE2Ny00NDEuOSAyNjkuMTQ4LTM0Ny42MTQgODEuOTggNDgyLjI3MyA0MzIuNTU0IDU5NC4wOTIgMzczLjQ0eiIgaWQ9ImEiLz4gIDwvZGVmcz4gIDx1c2UgZmlsbD0iI0Y0RjdGRSIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgNzI0LjUxOCAwKSIgeGxpbms6aHJlZj0iI2EiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
			background-repeat: no-repeat;
		}
	}

    .feature-extended {
        padding-left: 40px;
        padding-right: 40px;
    }

    .feature-extended-image,
    .feature-extended-body {
        padding: 0 40px;
    }

    .feature-extended-image {

		img,
        svg {
            width: 480px;
        }
    }
}
