<aside class="menu">
  <p class="menu-label">
    <%= @ticket.incident.name %>
  </p>
  <ul class="menu-list">
    <li><a>Details</a></li>
    <li><a>Tickets</a></li>
    <li><a>Leads</a></li>
    <li><a>Observables</a></li>
    <li><a>Attachments</a></li>
    <li><a>Tree</a></li>
  </ul>
</aside>