
<div class="page_grid">
    <%= render 'shared/settings_menu' %>
    <div class="content">
        <h2 class="title is-4">2FA</h2>
        <% if @two_factor_enabled %>
            <p>2FA is <span class="enabled">enabled.</span></p>
            <a class="button is-danger" href="<%= deactivate_two_factor_index_path %>">Disable 2FA</a>
        <% else %>
            <p>2FA is <span class="disabled">disabled.</span></p>
            <a class="button is-link" href="<%= activate_two_factor_index_path %>">Enable 2FA</a>
        <% end %>
    </div>
</div>

<style>
    .page_grid {
        display: grid;
        grid-template-columns: 13% 87%;
        grid-column-gap: 2%;
    }

    .enabled {
        color: green;
        font-weight: bold;
    }

    .disabled {
        color: red;
       font-weight: bold;
    }
</style>