<aside class="menu">
    <p class="menu-label">
        Settings
    </p>
    <ul class="menu-list">
        <li><a href="<%= edit_user_registration_path %>">Profile</a></li>
        <li><a href="<%= two_factor_index_path %>">2FA</a></li>
    </ul>
</aside>