<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', ticket_attachments_path %>
