<h2 class="title is-4">Priorities</h2>

<p>This page lists the statuses a ticket can be in.</p>

<br>

<%= render 'priorities/create_form', priority: @priority %>

<br>

<% if @priorities.empty? %>
    No priorities
<% else %>
    <table class="priorities-table stripe hover">
        <thead>
            <tr>
                <th>Created At</th>
                <th>Priority</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @priorities.each do |priority| %>
                <tr>
                    <td><%= priority.created_at %></td>
                    <td><%= priority.name %></td>
                    <td><%= link_to 'Rename', edit_priority_path(priority) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<script>
  $(document).ready(function() {
    $(".priorities-table").DataTable({
      "pagingType": "simple_numbers",
      "language": { search: "" }
    });

        // style datatable search inputs
    $(".dataTables_filter input").addClass("input");
    $(".dataTables_filter input").attr("placeholder", "Search");
  });
</script>