<% if ticket.priority == "Low"%>
    <span class="tag is-success">Low</span>
<% elsif ticket.priority == "Medium" %>
    <span class="tag is-warning">Medium</span>
<% elsif ticket.priority == "High" %>
    <span class="tag is-danger">High</span>
<% else %>
    <span class="tag"><%= ticket.priority %></span>
<% end %>
