<div>
    <span style="display: inline-block">
        <h2 class="title is-4"><%= title %></h2>
    </span>
    <span style="float: right">
        <%= render 'tickets/actions_dropdown', ticket: @ticket %>
    </span>
</div>
<br>