<h2 class="title is-4">Ticket Templates</h2>

<div class="content">
  <p>To create a template, create a ticket (with child tickets, if desired) and click <code>Actions > Create Template From This Ticket</code>.</p>
</div>

<% if @ticket_templates.empty? %>
  No ticket templates
  <br />
<% else %>
  <table class="ticket-templates-table hover stripe">
    <thead>
      <th>Name</th>
      <th># Tickets</th>
      <th>Description</th>
      <th>Destroy</th>
    </thead>
    <tbody>
      <% @ticket_templates.each do |template| %>
        <tr>
          <td><%= template.name %></td>
          <td><%= template.num_tickets %></td>
          <td><%= truncate(template.description, :length => 40) %></td>
          <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: "Are you sure you want to delete template #{template}?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
  $(document).ready(function() {
    $(".ticket-templates-table").DataTable({
      "pagingType": "simple_numbers",
    });
  });
</script>