Hey <%= @user.username %>,

You were mentioned in the description of incident <%= @incident %>.

<h3>Description</h3>
<%= truncate(@incident.description, :length => 300) %>

<a href="<%= incident_url(@incident) %>">View Incident</a>