Hey <%= @user.username %>,

<br><br>

You were mentioned in the description of incident "<%= @incident %>".

<br><br>

<strong>Description</strong>

<br><br>

<%= truncate(@incident.description, :length => 300) %>

<br><br>

<a href="<%= incident_url(@incident) %>">View Incident</a>