Hey <%= @user.username %>,

<br>

You were mentioned in the description of incident "<%= @incident %>".

<h5>Description</h5>
<%= truncate(@incident.description, :length => 300) %>

<br>

<a href="<%= incident_url(@incident) %>">View Incident</a>